// Продължи с твоя SCSS или обикновен CSS код тук.
@import url('./css/nav.css');
@import url('./css/main.css');
@import url('./css/food.css');
@import url('./css/chef.css');
@import url('./css/receipt.css');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fdf8ec;
}