@import url('./css/nav.css');
@import url('./css/main.css');
@import url('./css/food.css');
@import url('./css/chef.css');
@import url('./css/receipt.css');
@import url('./css/reviews.css');
@import url('./css/qna.css');
@import url('./css/media.css');
@import url('./css/footer.css');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdf8ec;
}