.chef {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 4em auto;
}

.chef-wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.text-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-left: 2em;
}

.text-right h1 {
    font-weight: bold;
    font-family: 'Manrope';
    font-size: 55px;
    margin-bottom: 0.5em;
}