@media (max-width: 1000px) {
    header {
        padding: 2em 0;
    }

    header ul li:first-child {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .chef-wrapper {
        justify-content: center;
        align-items: center;
    }
    
    .food .card-wrapper {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        left: 50%;
        width: 100%;
    }

    .food .card-wrapper .card {
        flex: 1 0 auto;
        justify-content: space-evenly;
    }

    .receipt .receipt-wrapper .product {
        display: flex;
        flex-direction: column;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        left: 20%;
    }

    .qna .qna-left {
        font-size: 15px;
        text-wrap: wrap;
    }

    .qna .qna-sec {
        display: flex;
        flex-direction: column;
    }

    .chef .chef-wrapper {
        display: flex;
        flex-direction: column;
    }
}