@media (max-width: 1000px) {
    header {
        padding: 2em 0;
    }

    header ul li:first-child {
        display: none;
    }

    header ul {
        flex-wrap: wrap;
        
        margin: 0.5em;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .chef-wrapper {
        justify-content: center;
        align-items: center;
    }
    
    .food .card-wrapper {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .food .card-wrapper .card {
        flex: 1 0 auto;
        width: 100%;
        justify-content: space-evenly;
    }

    .card .main-img img {
        margin: auto;
        width: 50%;
    }

    .receipt .interest {
        flex-direction: column;
    }

    .receipt .receipt-wrapper .product {
        display: flex;
        flex-direction: column;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        left: 20%;
    }

    .qna .top p {
        text-wrap: wrap;
    }

    .qna .qna-left {
        text-wrap: wrap;
        flex: 0 0 0;
        width: 100%;
    }

    .qna .qna-sec {
        display: flex;
        flex-direction: column;
    }

    .chef .chef-wrapper {
        display: flex;
        flex-direction: column;
    }

    .reviews, .qna, .media {
        margin-top: 5em;
    }
}